/apache-tomcat-7.0.109/work/Catalina/localhost/manager/org/apache/jsp/WEB_002dINF/jsp
/apache-tomcat-7.0.109/wtpwebapps/SimpleServletProject/WEB-INF/classes/org/koushik/javabrains/*.class
/apache-tomcat-7.0.109/logs
/apache-tomcat-7.0.109/wtpwebapps/SimpleServletProject
