<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SimpleServletProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- this servlet is mapped by servlet-mapping tag below -->
	<servlet>
		<servlet-name>xmlServlet</servlet-name>
		<servlet-class>org.koushik.javabrains.T2ServletConfigByXML</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xmlServlet</servlet-name>
		<url-pattern>/T2ServletConfigByXMLPath</url-pattern>
	</servlet-mapping>

	<!-- this servlet is mapped by servlet-mapping tag below -->
	<servlet>
		<servlet-name>xmlServlet2</servlet-name>
		<servlet-class>org.koushik.javabrains.T6ServletInitParamFromXml</servlet-class>
		<init-param>
			<param-name>defaultUser</param-name>
			<param-value>johnXML</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>xmlServlet2</servlet-name>
		<url-pattern>/T6ServletInitParamFromXml</url-pattern>
	</servlet-mapping>
	
	<!-- this servlet is for JSP init param -->
	<servlet>
		<servlet-name>test5InitPage</servlet-name>
		<jsp-file>/test5InitPage.jsp</jsp-file>
		<init-param>
			<param-name>defaultUserName</param-name>
			<param-value>john</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>test5InitPage</servlet-name>
		<url-pattern>/test5InitPage.jsp</url-pattern>
	</servlet-mapping>

</web-app>